# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.
DATABASE_URL="postgresql://postgres:123@localhost:5432/veggie-chatbot?schema=public"

# Gemini API
GEMINI_API_KEY=""


LINE_MESSAGING_API='https://api.line.me/v2/bot'
LINE_DATA_MESSAGING_API='https://api-data.line.me/v2/bot'
# Endpoint Stateless Channel Access Token
LINE_MESSAGING_OAUTH_ISSUE_TOKENV3="https://api.line.me/oauth2/v3/token"


LINE_MESSAGING_CHANNEL_ID=""
LINE_MESSAGING_CHANNEL_SECRET=""
LINE_MESSAGING_ACCESS_TOKEN=""

NUXT_PUBLIC_LIFF_ID=""